@media (min-width: 320px) {
  footer{
    padding: 35px 30px;

    background-color: #1B4773;
  }

  .white-logo{
    display: flex;

    width: 100%;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px;
  }

  .white-logo img{
    width: 54px;
  }

  .white-logo p{
    color: #FFFFFF;
    padding-left: 3%;
    line-height: 130%;
    max-width: 80%;
    font-size:18px;
  }

  .bottom a{
    color: white;
    font-size: 16px;
    line-height:200%;
  }  

  .footer-link, .bottom{
    display: flex;
    flex-direction: column;

    padding: 25px 0px;

    align-items: flex-start;
  }

  .footer-link a, .footer-link p{
    margin-top: 8px;

    color: white;

    font-size: 16px;
    font-weight:  300;
    font-style: normal;
    line-height: 130%;
  }

  .bottom p{
    color: white;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 130%
  }

}

@media (min-width: 768px){

  .white-logo{
    font-size: 30px;

  }

  .footer-link a, .footer-link p{
    font-size: 20px;
  }

  .bottom p{

    font-size: 25px;

  }

  footer{
    padding: 35px 40px;

    background-color: #1B4773;
  }

  .white-logo img{
    width: 80px;
  }

  .bottom a{
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }  

}


@media (min-width: 1024px){


  footer{
    padding: 35px 40px;
  }

  .white-logo p{
    color: #FFFFFF;
    padding-left: 3%;
    line-height: 130%;
    max-width: 500px;
    font-size:25px;
  }

}

@media (min-width: 1024px){


  footer{
    padding: 35px 0px 70px 150px;
  }

  .links{
    display: flex;
  }

  .footer-link{
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    align-items: flex-start;
    max-width: 30%;
    margin-right: 4%;
  }

  .footer-link a{
    margin-top: 10px;
  }

}
